doctype html
html(lang="pt-BR")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='language', content='pt-BR')
    meta(name='country', content='BRA')
    meta(name='description', content="Meetup")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Meetup
    base(href='/')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='theme-color', content='#FFFFFF')

body
  section
    h1 #{event.name}